body {
  margin:auto;
}

header {
  text-align: center;
}

#mainContainer {
  display: flex;
  width:100vw;
  margin:auto;
  justify-content: space-evenly;
  flex:1;
  margin:0;
  padding:0

}

#showScoreHeader{
    display:flex;
    width: 20vw;
    align-items: center;
    justify-content: space-around;
    flex:1;
    padding:2rem 0 0;
    margin:0   

}

.scoreTitle{
    margin:0
}

#leaderboardContainer {
  text-align: left;
  align-items: center;
}

#leaderboard {  
  list-style: none;
  border: 0.2rem solid black;
  place-items: center;
  padding:0
} 

li:nth-child(odd) {
  background: white;
  padding-left:0.4rem;
}

li:nth-child(even) {
  background: grey;
  padding-left:0.4rem;
}
